---
import CallToAction from '../widgets/CallToAction.astro';

const contactSubtitle =
  '¿Tienes algún comentario, pregunta o propuesta?</br> ' +
  'Contáctame <span class="highlight">a través de mis <b>Redes Sociales</b></span> o envíame un correo electrónico';
---

<CallToAction
  title="Contacta conmigo"
  subtitle={contactSubtitle}
  callToAction2={{
    icon: 'tabler:at',
    text: 'leonbarbozaelmerjoselito@gmail.com',
    href: 'mailto:leonbarbozaelmerjoselito@gmail.com',
  }}
/>
