---
import { SITE } from '~/config.mjs';
import { getPermalink } from '~/utils/permalinks';
import { experience } from '~/data';

import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import LatestProjects from '~/components/project/LatestProjects.astro';
import Features2 from '~/components/widgets/Features2.astro';
import SupportSection from '~/components/project/SupportSection.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    callToAction2={{
      icon: 'tabler:braces',
      text: 'Proyectos',
      href: getPermalink('/projects'),
    }}
  >
    <Fragment slot="title">
      Hola soy <span class="highlight"> Elmer</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        <!-- Continue title -->
        Tambien llamado<span class="font-semibold highlight"> Leobar</span>.
        <br />
        <br />
      </span>
    </Fragment>
  </Hero>

  <LatestProjects title="Ultimos proyectos" />

  <Features2 title="Experience" id="experience" items={experience} />

  <SupportSection id="donate" />
</Layout>
