---
import { SITE } from '~/config.mjs';
import { getPermalink } from '~/utils/permalinks';
import { experience } from '~/data';

import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import LatestProjects from '~/components/project/LatestProjects.astro';
import Features2 from '~/components/widgets/Features2.astro';
import SupportSection from '~/components/project/SupportSection.astro';
import SkillsAstro from '~/components/Skills.astro';
import Publications from '~/components/Publications.astro';
import CvDownload from '~/components/button_cv.astro';
import { Folder } from 'lucide-react';
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    callToAction2={{
      icon: 'tabler:braces',
      text: 'Proyectos',
      href: getPermalink('/projects'),
    }}
  >
    <Fragment slot="call-to-action">
      <a
        href="/cv"
        class="px-6 py-3 hidden md:flex gap-x-2 items-center space-x-2 bg-blue-600 text-white font-medium rounded-full shadow-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition"
      >
        <Folder client:only="react" />
        Cv
      </a>
      <div class="block md:hidden">
        <CvDownload />
      </div>
    </Fragment>
    <Fragment slot="title">
      Hola soy <span class="highlight"> Elmer</span>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="sm:inline">
        <!-- Continue title -->
        Tambien llamado<span class="font-semibold highlight"> Leobar</span>.
        <br />
        <br />
      </span>
    </Fragment>
  </Hero>

  <SkillsAstro />
  <Publications />
  <LatestProjects title="Ultimos proyectos" />
  <Features2 title="Experiencia" id="experience" items={experience} />

  <SupportSection id="donate" />
  <CvDownload />
</Layout>
