---
import { Download } from 'lucide-react';
const cvLink = '/elmerjoselitonleonbarboza-senior-frontend.pdf';
---

<div class="flex flex-col items-center justify-center py-12 space-y-4 max-w-7xl mx-auto mt-12">
  <p class="text-lg text-gray-800 dark:text-gray-200 text-center max-w-2xl">
    ¿Quieres saber más sobre mi experiencia y habilidades? Descarga mi CV para obtener más detalles.
  </p>
  <a
    href={cvLink}
    download
    class="px-6 py-3 flex items-center space-x-2 bg-blue-600 text-white font-medium rounded-lg shadow-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition"
  >
    <Download className="w-5 h-5" />
    <span>Descargar CV</span>
  </a>
</div>
